{% extends "@Contao/content_element/_base.html.twig" %}
{# Variables: sowo_title (HTML), sowo_subtitle (HTML), sowo_subtitle_position ('above'|'below'), sowo_headline_level ('h1'..'h6') #}
{% set allowed = ['h1','h2','h3','h4','h5','h6'] %}
{% set tag = sowo_headline_level in allowed ? sowo_headline_level : 'h2' %}
{% set isAbove = sowo_subtitle_position == 'above' %}

{% block wrapper %}
    {# eigene Klasse hinzufügen – ID/Klassen aus dem CE bleiben erhalten #}
    {% set attributes = attributes.addClass('swts-title-subtitle-wrapper') %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% block subtitle_top %}
        {% if isAbove %}
            <div class="{% block subtitle_top_class %}swts-headline-subline swts-headline-subline--top{% endblock %}">
                <span class="{% block subtitle_top_text_class %}swts-headline-subline--top-text{% endblock %}">{{ sowo_subtitle|raw }}</span>
            </div>
        {% endif %}
    {% endblock %}

    {% block title %}
        <{{ tag }} class="{% block title_class %}content-headline swts-headline-title{% endblock %}">
        {{ sowo_title|raw }}
        </{{ tag }}>
    {% endblock %}

    {% block subtitle_bottom %}
        {% if not isAbove %}
            <div class="{% block subtitle_bottom_class %}swts-headline-subline swts-headline-subline--bottom{% endblock %}">
                <span class="{% block subtitle_bottom_text_class %}swts-headline-subline--bottom-text{% endblock %}">{{ sowo_subtitle|raw }}</span>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
